/* .wrap {
    overflow-wrap: break-word;
  } */
/* thead th {
    background-color: aqua;
    border-b dark:border-slate-600 font-medium p-4 pt-0 pb-3 text-slate-400 dark:text-slate-200 text-left
}
tbody td {
    background-color: rgb(214, 167, 25);
} */
